* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    color: black;
    background-color: rgba(0, 0, 255, 0.735);
    padding: 10px;
    margin: -8px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: rgb(235, 235, 235);
    color: white;
}

div.music img {
    position: relative;
    height: 376px;
    
}

div.music audio {
    background-color: rgb(0, 0, 0);
    width: 167px;
    padding: 10px;
    margin: -10px;
}
