* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#loguin {
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 480px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    background: #5f2c82 url('../imagens/pexels-pixabay-2363.jpg') no-repeat;
    background-size: cover;
    background-position: center right;
    height: 200px;
}

div#formulario {
    display: block;
    padding: 10px;
}

div h1 {
    text-align: center;
    margin-bottom: 10px;
}

div p {
    font-size: 0.8em;
}

/*botoes*/

form div.campos {
    background-color: #5f2c82;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    padding: 2px;
    border: 2px solid rgb(0, 0, 0);
}

div.campos span {
    
    color: white;
    font-size: 2.4em;
    width: 40px;
    
}

div.campos input {
    background-color: #61cecb;
    font-size: 1em;
    height: 100%;
    border-radius: 8px;
    padding: 18px;
    border: none;
    width: calc(100% - 39px);
    transform: translate(23%, -122%);
}

div.input {
   margin-bottom: 10px;
}

form label {
    display: none;
}

input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #3c8280;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #52b0ad;
}

a.botao {
    display: block;
    background-color: white;
    width: 100%;
    height: 30px;
    border: 1px solid #3c8280;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 2px;
    margin-top: 5px;
    text-align: center;
    font-size: 1em;
}

a.botao:hover {
    background-color: #52b0ad;
}